*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
.blu{
    color: blue;
    filter: invert(0) !important;
}
/* body > container */
.container{
    height: 100vh;
    width: 80%;
    margin: auto;
    display: flex;
    align-items: center;
}

.slider{
    width: 100%;
    display: flex;
    align-items: center;
}

/* slider > frecce slider */
.fa-chevron-right,
.fa-chevron-left{
    font-size: 40px;
}



/* img */
.slider .img_box{
    /* width: 100%; */
    margin: auto;
    text-align: center;
    position: relative;
}
/* img_box > dots > .fa-circle */
.dots .fa-circle{
    filter: invert(1);
    margin: 0px 10px;
}
.dots .fa-circle:active{
 color: blue;
 filter: invert(0);
}
.slider .dots{
    position: absolute;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
    background-color: rgba(4, 4, 4, 0.5);
    padding: 20px 30px;
    border-radius: 50px;
}
.slider .img_box > img{
    max-width: 100%;
}