*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

.container{
    height: 100vh;
    width: 80%;
    background-color: lightcoral;
    margin: auto;
    display: flex;
    align-items: center;
}

.slider{
    width: 100%;
    display: flex;
    align-items: center;

}

.slider .img_box{
    width: 100%;
    text-align: center;
}
.slider .img_box > img{
    max-width: 100%;
}
.fa-chevron-right,
.fa-chevron-left{
    font-size: 40px;
}